OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

LATITUDE=6.4531
LONGITUDE=3.3958
LOCATION_NAME=lagos

DATA_RAW_DIR=/opt/airflow/data/raw
DATA_SILVER_DIR=/opt/airflow/data/silver
DATA_GOLD_DIR=/opt/airflow/data/gold